################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Labyrinth/bin/Debug
/Labyrinth/obj
